/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
.page-head {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.modal-content{
    z-index: 99999;
}
ngb-modal-backdrop{
    z-index: 1011;
}

.modal-backdrop fade show {
    z-index: 1011;
    
}